= title("Modifier #{@item.title}")

.tabbable.row
  .span12
    - unless @item.errors.empty?
      .alert.alert-error
        %strong Le(s) problème(s) suivant(s) nous empêche d'enregistrer l'item dans votre collection:
        %br/
        = @item.errors.full_messages.join("</br>").html_safe

    = form_for @item do |f|
      = render :partial=>'form', :object=>f
      .formActions
        = f.submit :class=>"btn btn-primary"
        ou #{link_to t("cancel"), :back, :class=>"btn"}

