.row      
  .span12
    .page-header
      = title(t("headers.recent_changes"))

.row
  .span12

    = paginate @changes
    %table.table.table-striped
      %thead
        %tr
          %th= t('headers.date')
          %th= t('page')
          %th= t("author")
          %th= t("change")
        %tbody
          - @changes.each do |change|
            %tr
              %td= change.created_at_text
              %td= link_to change.display_text, change.trackable
              %td= change.modifier_display_text
              %td= change.change_type_text

    = paginate @changes