= title(t("devise.registrations.modify_user", name: resource_name.to_s.humanize))

.row
  .span12
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put}) do |form| 
      = devise_error_messages!
      %dl
        %dt= form.label :nickname
        %dd= form.text_field :nickname
 
        %dt= form.label :email
        %dd= form.password_field :email 

        %dt= form.label :password
        %dd= form.password_field :password 

        %dt= form.label :password_confirmation 
        %dd= form.password_field :password_confirmation 

        %dt= form.label :current_password 
        %dd= form.password_field :current_password

      = form.submit class: "btn btn-primary"

.row
  .span12
    %h2 #{t("devise.registrations.close_account")}

    %p 
      = t('devise.registrations.member_account')
      = link_to t("devise.registrations.close_account"), registration_path(resource_name), confirm: t("devise.registrations.certain_close"), method: :delete 


