.page-header
  = title(t("headers.artists_all_index"))

.row
  .span11
    = alpha_links

= paginate @artists
= render partial: "search_result", object: @artists
= paginate @artists

.row
  .span11
    = alpha_links

