.page-header
  = title(Artist.model_name.human.pluralize)

.row
  .span1
    = link_to t("new"), new_artist_path, :class=>"btn"
  .span11
    = alpha_links().html_safe

= paginate @artists
= render :partial=>"search_result", :object=>@artists
= paginate @artists

.row
  .span1
    = link_to t("new"), new_artist_path, :class=>"btn"
  .span11
    = alpha_links().html_safe

