<%= title(Artist.model_name.human.pluralize) %>

<%= render partial: 'common/search' %>

<%= link_to t("new"), new_artist_path %>
<p>
<%= alpha_links().html_safe %>

<%= paginate @artists %>

<table>
  <thead>
    <tr>
      <th><%= Artist.human_attribute_name("name") %></th>
      <th><%= Artist.human_attribute_name("birth_date") %></th>
      <th><%= Artist.human_attribute_name("birth_location") %></th>
      <th><%= Artist.human_attribute_name("death_date") %></th>
      <th><%= Artist.human_attribute_name("death_location") %></th>
    </tr>
  </thead>
  <tbody>
    <% @artists.each do |artist| %>
    <tr>
      <td>
      	<%= link_to artist.name, artist_path(artist) %>
      </td>
      <td>
      	<% if (artist.birth_date != "0-00-00") then %>
      		<%= artist.birth_date %>
      	<% end %>
      </td>
      <td>
      	<% if (artist.birth_location != "") then %>
	      	<%= artist.birth_location %>
        <% end %>
      </td>
      <td>
      	<% if (artist.death_date != "0-00-00") then %>
      		<%= artist.death_date %>
      	<% end %>
      </td>
      <td>
      	<% if (artist.death_location != "") then %>
	      	<%= artist.death_location %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @artists %>

<%= link_to t("new"), new_artist_path %>

