<%= title("Artists") %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Birth Date</th>
      <th>Birth Location</th>
      <th>Death Date</th>
      <th>Death Location</th>
    </tr>
  </thead>
  <tbody>
    <% @artists.each do |artist| %>
    <tr>
      <td>
      	<%= link_to artist.name, artist_path(artist) %>
      </td>
      <td>
      	<% if (artist.birth_date != "0-00-00") then %>
      		<%= artist.birth_date %>
      	<% end %>
      </td>
      <td>
      	<% if (artist.birth_location != "") then %>
	      	<%= artist.birth_location %>
	    <% end %>
      </td>
      <td>
      	<% if (artist.death_date != "0-00-00") then %>
      		<%= artist.death_date %>
      	<% end %>
      </td>
      <td>
      	<% if (artist.death_location != "") then %>
	      	<%= artist.death_location %>
	    <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>



<%= link_to 'New', new_artist_path %>

