.page-header
  = title(Artist.model_name.human.pluralize)

.row
  .span11
    = alpha_links().html_safe

= paginate @artists
= render :partial=>"search_result", :object=>@artists
= paginate @artists

.row
  .span11
    = alpha_links().html_safe

