= title(t("headers.new_artist"))

.tabbable.row
  .span12
    - unless @artist.errors.empty?
      .alert.alert-error
        %strong 
          = t.('messages.artist_errors_warning')
        %br/
        = @artist.errors.full_messages.join("</br>").html_safe

    = form_for @artist do |f|
      = render partial: 'form', object: f
      .formActions
        = f.submit class: "btn btn-primary"
        #{t("or")} #{link_to t("cancel"), :back, class: "btn"}