<%= title("Nouvel enregistrement") %>

<% unless @artist.errors.empty? %>
<div class="validationerror">Le(s) problème(s) suivant(s) nous empêche d'enregistrer le nouvel enregistrement:<br/>
    <%= @artist.errors.full_messages.join("</br>").html_safe %>
</div>
<% end %>

<%= form_for @artist do |f| %>
<%= render :partial=>'form', :object=>f %>
<%= f.submit %> ou <%= link_to 'annuler', :back %>
<% end %>


