.row      
  .span12
    .page-header
      = title(t("headers.artists_portal"))

.row      
  .span12
    %p
      = t('portal.artist_explanation')

.row
  - if @feature_in_month
    .span6
      %h2= @feature_in_month.title 
      .content
        = RedCloth.new(@feature_in_month.summary(750)).to_html.html_safe
      %p.pull-left 
        = "#{t('portal.see_artist')}:"
        = artist_wiki_link_path(@feature_in_month.featured_wiki_link)
      - if @feature_in_month.more?(750)
        %p.pull-right= link_to t("portal.continue_reading"), @feature_in_month

  .span6
    %h2
      = t('portal.how_to_help')
    %ul
      %li 
        = link_to t("portal.new_artist_text"), new_artist_path
      %li 
        = "#{t('portal.revise_artist')}:"
        %ul 
          %li 
            - Artist.order_by(updated_at: :desc).limit(5).all.each do |artist|
              %span.artist>= link_to artist.to_wiki_link.object_text, artist_path(artist.id)
              ;&nbsp;
            = link_to "...", recent_changes_artists_path, name: t("portal.recent_changes")
          %li= link_to t("portal.recent_changes_artist"), recent_changes_artists_path

      %li
        = "#{t("portal.improve_artist")}:"
        %ul
          %li= link_to t("portal.without_work"), without_work_artists_path
          %li= link_to t("portal.without_recording"), without_recordings_artists_path
          %li= link_to t("portal.without_releases"), without_releases_artists_path
          %li= link_to t("portal.without_supplementary_sec"), without_supplementary_sections_artists_path

.row
  .span12
    %h2
      = t('portal.alphabetical')
    %ul
      - alphabetic_artist_grouping.each do |letter, heading|
        %li 
          %span.letter= heading
          - Artist.where(cache_first_letter: letter).order_by(updated_at:1).limit(5).each do |artist|
            %span.artist>= link_to artist.to_wiki_link.object_text, artist_path(artist.id)
            ;&nbsp;
          = link_to "...", alphabetic_artists_path(letter: letter, page: 1), name: "#{t('portal.complete_artist_alphabet')} \"#{letter}\""
      %li= link_to t("portal.all_artists"), artists_path(page: 1)

.row
  .span12
    %h2.soon-available
      = t('portal.by_tag')