= title(@artist.name)
.row
  .span12
    .alert
      = t("preview_warning")
    - unless @artist.new_record?
      = render partial: 'links'
    = render partial: 'info'
    - unless @artist.errors.empty?
      .alert.alert-error
        %strong #{t('messages.artist_errors_warning')}:
        %br/
        = @artist.errors.full_messages.join("</br>").html_safe
    = nested_form_for @artist do |f|
      = render partial: 'form', object: f
      .formActions
        = f.submit class: "btn btn-primary"
        - unless @artist.new_record?
          = link_to t("preview"), preview_artist_path(@artist), class: "btn btn-default preview"
          #{link_to t("delete"), @artist, method: :delete, class: 'btn btn-danger'}
        - else
          = link_to t("preview"), preview_artists_path, class: "btn btn-default preview"
        #{t('or')} #{link_to t("cancel"), :back, class: "btn"}
