.page-header
  = title(t("headers.artists_search"))

.row
  .span12
    %form{action: artists_path}
      %input.rsearch-query.span6{name: "q", type: "text", value: params[:q] ? params[:q] : "", placeholder: t("search")}/
      %input{type: "submit", value: t("search")}

.row
  .span12
    %p
      #{t('rsearch.search_artist_keywords')}:
    %dl
      %dt
        surname:
      %dd 
        #{t('rsearch.limit_artist_surname')}:
        %ul
          %li 
            surname:Brel
          %li 
            surname:"de larochellière"

      %dt 
        given_name:
      %dd 
        #{t('rsearch.limit_artist_given_name')}:
        %ul
          %li 
            given_name:Jacques
          %li 
            given_name:"Marie-Michèle"

      %dt 
        birth_date:
      %dd 
        #{t('rsearch.limit_artist_birth_date')}:
        %ul
          %li 
            birth_date:1940-03-03
          %li 
            birth_date:1950
          %li 
            birth_date:1934-12

      %dt 
        birth_location:
      %dd 
        #{t('rsearch.limit_artist_birth_place')}:
        %ul
          %li 
            birth_location:Paris
          %li 
            birth_location:"États-Unis"

      %dt 
        death_date:
      %dd 
        #{t('rsearch.limit_artist_death_date')}:
        %ul
          %li 
            death_date:2000-03-03
          %li 
            death_date:1960
          %li 
            death_date:1980-12
      %dt 
        death_location:
      %dd 
        #{t('rsearch.limit_artist_death_location')}:
        %ul
          %li 
            death_location:Memphis
          %li
            death_location:"Los Angeles"
      %dt 
        role:
      %dd 
        = t('rsearch.limit_artist_birth_place')
        %ul
          %li 
            role:Auteur
          %li 
            role:"Chef d'orchestre"