<%= title(@artist.name) %>
<div class="section summary">     
	<dl>
    <%= date_location_formatted(t("birth"), @artist.birth_date, @artist.birth_location) %>
    <%= date_location_formatted(t("death"), @artist.death_date, @artist.death_location) %>
	</dl>
</div>
<h2><%= Work.model_name.human.pluralize %></h2>
<table>
  <tbody>
      <th><%= Work.human_attribute_name("title") %></th>
      <th><%= Work.human_attribute_name("date_written") %></th>
      <th><%= Work.human_attribute_name("role") %></th>
    <% @artist.work_wiki_links.sort{|a,b| a.title.downcase <=> b.title.downcase}.each do |wwl| %>
    <tr>
      <td><%= work_wiki_link_path(wwl) %></td>
      <td><%= wwl.date_written %></td>
      <td><%= wwl.artist_role %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<h2><%= Album.model_name.human.pluralize %></h2>
<% if @artist.album_wiki_links.length > 0 %>
<table>
  <tbody>
  	<tr>
  		<th><%= Album.human_attribute_name("title") %></th>
      <th><%= Album.human_attribute_name("date_released") %></th>
      <th><%= Album.human_attribute_name("label") %></th>
      <th><%= Album.human_attribute_name("media_type") %></th>
      <th><%= Album.human_attribute_name("reference_code") %></th>
  	</tr>
    <% @artist.album_wiki_links.each do |album_wiki_link|
    	begin
		  	album = Album.find(album_wiki_link.searchref[:oid]) %>
				<tr>
					<td><%= link_to album.title, album_path(album) %></td>
					<td><%= album.date_released %></td>
					<td><%= album.label %></td>
					<td><%= album.media_type %></td>
					<td><%= album.reference_code %></td>
				</tr>
			<% rescue %>
					<tr>
						<td><%= album_wiki_link_path(album_wiki_link) %></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
			<% end %>					
    <% end %>
  </tbody>
</table>
<% else %>
	<!-- TODO: What do we want to show when an artist has no albums? -->
<% end %>

<%= content_tag(:small, Artist.human_attribute_name("updated_at") + " " + @artist.updated_at.to_s) %>

<%= render :partial=>'links' %>


