<%= title(@artist.name) %>
<div class="section summary">     
	<dl> 
    <%= date_location_formatted(t("birth"), @artist.birth_date, @artist.birth_location) %>
    <%= date_location_formatted(t("death"), @artist.death_date, @artist.death_location) %>
	</dl>
</div>
<h2><%= Work.model_name.human.pluralize %></h2>
<table>
  <tbody>
    <% @artist.work_wiki_links.each do |work| %>
    <tr>
      <td><%= work_wiki_link_path(work) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<h2><%= Album.model_name.human.pluralize %></h2>
<table>
  <tbody>
    <% @artist.album_wiki_links.each do |album| %>
    <tr>
      <td><%= album_wiki_link_path(album) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= content_tag(:small, Artist.human_attribute_name("updated_at") + " " + @artist.updated_at.to_s) %>

<%= render :partial=>'links' %>


