= title(@artist.name)

.row
  = render :partial=>'links'
  .span12
    .section.summary
      %p
        = date_location_formatted(t("birth"), @artist.birth_date, @artist.birth_location)
      %p
        = date_location_formatted(t("death"), @artist.death_date, @artist.death_location)

    %h2= Work.model_name.human.pluralize
    - if @artist.work_wiki_links.count == 0 
      %p This artist does not have any works.
    - else
      %table.table.table-striped
        %thead
          %tr
            %th= Work.human_attribute_name("title")
            %th= Work.human_attribute_name("date_written")
            %th= WorkWikiLink.human_attribute_name("role")       
        %tbody
          - @artist.grouped_work_wiki_links.sort{|a,b| a.date_written <=> b.date_written}.each do |wwl|

            %tr
              %td= work_wiki_link_path(wwl)
              %td= wwl.date_written
              %td= wwl.role

    %h2= Recording.model_name.human.pluralize
    - if @artist.recording_wiki_links.count == 0 
      %p This artist does not have any recordings.
    - else
      %table.table.table-striped
        %thead
          %tr
            %th= Recording.human_attribute_name("title")
            %th= Recording.human_attribute_name("recording_date")
            %th= Recording.human_attribute_name("duration")
            %th= Recording.human_attribute_name("artist_wiki_link")
        %tbody
          - @artist.recording_wiki_links.sort{|a,b| a.recording_date <=> b.recording_date}.each do |rwl| 
            %tr
              %td= recording_wiki_link_path(rwl)
              %td= rwl.recording_date    
              %td= rwl.duration  
              %td= "Sera réimplémenté plus tard"
              -# %td= rwl.recording.artist_wiki_links.collect{|awl| artist_wiki_link_path(awl) }.join(", ").html_safe

    %h2= Album.model_name.human.pluralize
    - if @artist.album_wiki_links.count == 0 
      %p This artist does not have any albums.
    - else
      %table.table.table-striped
        %thead
          %tr
            %th= Album.human_attribute_name("title")
            %th= Album.human_attribute_name("date_released")
            %th= Album.human_attribute_name("media_type")
            %th= Album.human_attribute_name("label")

        %tbody
          - @artist.album_wiki_links.sort{|a,b| a.date_released <=> b.date_released}.each do |awl|
            %tr
              %td= album_wiki_link_path(awl)
              %td= awl.date_released
              %td= awl.media_type
              %td= awl.label

    %h2= Artist.human_attribute_name("info")
    %p=  RedCloth.new(@artist.info).to_html.html_safe 

    .well 
      = content_tag(:small, Artist.human_attribute_name("updated_at") + " " + @artist.updated_at.to_s)


