<%= title(@artist.name) %>
<div class="section summary">     
	<dl> 
    <%= date_location_formatted(t("birth"), @artist.birth_date, @artist.birth_location) %>
    <%= date_location_formatted(t("death"), @artist.death_date, @artist.death_location) %>
	</dl>
</div>
<h2><%= Work.model_name.human.pluralize %></h2>
<p>Here be the Works</p>

<h2><%= Album.model_name.human.pluralize %></h2>
<p>Here be albums</p>

<%= content_tag(:small, Artist.human_attribute_name("updated_at") + " " + @artist.updated_at.to_s) %>

<%= render :partial=>'links' %>


