.row      
  .span12
    .page-header
      = title("#{t('headers.create_article')} (#{@portal_article.category})")

.row
  .span12
    - unless @portal_article.errors.empty?
      .alert.alert-error
        %strong #{t('messages.article_errors_warning')}:
        %br/
        = @portal_article.errors.full_messages.join("</br>").html_safe

    = form_for @portal_article, class: "form-horizontal" do |f|
      = render partial: 'form', object: f
      .formActions
        = f.submit class: "btn btn-primary"
        #{t('or')} #{link_to t("cancel"), :back, class: "btn"}


