.page-header
  = title(t("headers.global_search_result", :q=>params[:q]))

.row
  .span12
    %h2= t("headers.artists_index")
    = render :partial=>"artists/search_result", :object=>@artists
    - unless @artists.last_page? 
      .well= link_to_unless @artists.last_page?, "plus de résultats", artists_path(:page=>@artists.current_page + 1, :q=>params[:q])
    = t("search_question")
    = link_to t("new"), new_artist_path(:q=>params[:q]), :class=>"btn"

.row
  .span12
    %h2= t("headers.works_index")
    = render :partial=>"works/search_result", :object=>@works
    - unless @works.last_page? 
      .well= link_to "plus de résultats", works_path(:page=>@works.current_page + 1, :q=>params[:q])
    %p
      = t("search_question")
      = link_to t("new"), new_work_path(:q=>params[:q]), :class=>"btn"

.row
  .span12
    %h2= t("headers.recordings_index")
    = render :partial=>"recordings/search_result", :object=>@recordings
    - unless @recordings.last_page? 
      .well= link_to_unless @recordings.last_page?, "plus de résultats", recordings_path(:page=>@recordings.current_page + 1, :q=>params[:q])
    = t("search_question")
    = link_to t("new"), new_recording_path(:q=>params[:q]), :class=>"btn"

.row
  .span12
    %h2= t("headers.releases_index")
    = render :partial=>"releases/search_result", :object=>@releases
    - unless @releases.last_page? 
      .well= link_to_unless @releases.last_page?, "plus de résultats", recordings_path(:page=>@releases.current_page + 1, :q=>params[:q])
    = t("search_question")
    = link_to t("new"), new_release_path(:q=>params[:q]), :class=>"btn"

.row
  .span12
    %h2= t("headers.categories_index")
    = render :partial=>"categories/search_result", :object=>@categories
    - unless @categories.last_page? 
      .well= link_to_unless @categories.last_page?, "plus de résultats", recordings_path(:page=>@categories.current_page + 1, :q=>params[:q])
    = t("search_question")
    = link_to t("new"), new_category_path(:q=>params[:q]), :class=>"btn"
