%dl
  %dt= form.label :work_wiki_link_text
  %dd= form.text_field :work_wiki_link_text, class: "work_title_lookup", :"data-pre"=>form.object.work_wiki_link_combined_link.to_json
  %dt= form.label :recording_date
  %dd= form.text_field :recording_date_text
  %dt= form.label :recording_location
  %dd= form.text_field :recording_location
  %dt= form.label :category_wiki_links_text
  %dd= form.text_field :category_wiki_links_text, class: "categories_lookup", :"data-pre"=>form.object.category_wiki_links_combined_links.to_json
  %dt= form.label :duration
  %dd= form.text_field :duration
  %dt= form.label :rythm
  %dd= form.text_field :rythm
  .well
    %h2= Artist.model_name.human.pluralize
    = form.fields_for :artist_wiki_links do |a|
      %p= a.link_to_remove '<i class="icon-trash icon-white"></i>'.html_safe, class: 'btn btn-danger pull-right'
      %dt= a.label :reference_text
      %dd= a.text_field :reference_text, class: "recording_artists_lookup", :"data-pre"=>[a.object.combined_link].to_json
      %dt= a.label :role
      %dd= a.text_field :role
    %p= form.link_to_add '<i class="icon-plus icon-white"></i>'.html_safe, :artist_wiki_links, class: 'btn btn-primary pull-right'
  .well
    %h2= Release.model_name.human.pluralize
    = form.fields_for :release_wiki_links do |r|
      %p= r.link_to_remove '<i class="icon-trash icon-white"></i>'.html_safe, class: 'btn btn-danger pull-right'
      %dt= r.label :reference_text
      %dd= r.text_field :reference_text, class: "recording_releases_title_lookup", :"data-pre"=>[r.object.combined_link].to_json
      %dt= r.label :relation
      %dd= r.text_field :relation
    %p= form.link_to_add '<i class="icon-plus icon-white"></i>'.html_safe, :release_wiki_links, class: 'btn btn-primary pull-right'
  = form.fields_for :supplementary_sections do |ss|
    %dt= ss.label t("headers.supplement_section")
    %dd= ss.text_field :title
    %dd= ss.text_area :content, class: "span12"

  %p
  %dt= link_to t("headers.new_section"), controller: :recordings, action: :add_supplementary_section, id: @recording.id, class: "btn"

