<ul>
  <li>
    <%= form.label :work_title %>
    <%= form.text_field :work_link, :class=>"work_title_lookup", :"data-prepopulate"=>[{id:"4e4c325f41c25e0a64000023",name:"La maison de mon enfance"}].to_json %>
  </li>

  <li>
    <%= form.label :recording_date %>
    <%= form.text_field :recording_date %>
  </li>

  <li>
    <%= form.label :recording_location %>
    <%= form.text_field :recording_location %>
  </li>

  <li>
    <%= form.label :duration %>
    <%= form.text_field :duration %>
  </li>

  <li>
    <%= form.label :rythm %>
    <%= form.text_field :rythm %>
  </li>
</ul>

