%dl
  %dt= form.label :work_wiki_link_text
  %dd= form.text_field :work_wiki_link_text, :class=>"work_title_lookup", :"data-pre"=>form.object.work_wiki_link_combined_link.to_json
  %dt= form.label :recording_date
  %dd= form.text_field :recording_date_text
  %dt= form.label :recording_location
  %dd= form.text_field :recording_location
  %dt= form.label :category_wiki_links_text
  %dd= form.text_field :category_wiki_links_text, :class=>"categories_lookup", :"data-pre"=>form.object.category_wiki_links_combined_links.to_json
  %dt= form.label :duration
  %dd= form.text_field :duration
  %dt= form.label :rythm
  %dd= form.text_field :rythm
  %dt= form.label :artist_wiki_links_text
  %dd= form.text_field :artist_wiki_links_text, :class=>"recording_artists_lookup", :"data-pre"=>form.object.artist_wiki_links_combined_links.to_json
  %dt= form.label :release_wiki_links_text
  %dd= form.text_field :release_wiki_links_text, :class=>"recording_releases_title_lookup", :"data-pre"=>form.object.release_wiki_links_combined_links.to_json
  = form.fields_for :supplementary_sections do |ss|
    %dt= ss.label "Section Supplémentaire"
    %dd= ss.text_field :title
    %dd= ss.text_area :content, :class=>"span12"

  %p
  %dt= link_to "Nouvelle section", :controller=>:recordings, :action=>:add_supplementary_section, :id=>@recording.id, :class=>"btn"

