%dl
  %dt= form.label :work_title
  %dd= form.text_field :work_wiki_link, :class=>"work_title_lookup",              |
        :"data-pre"=>form.object.work_wiki_link.to_json
  %dt= form.label :recording_date
  %dd= form.text_field :recording_date_text
  %dt= form.label :recording_location
  %dd= form.text_field :recording_location
  %dt= form.label :category
  %dd= form.text_field :category_id
  %dt= form.label :duration
  %dd= form.text_field :duration
  %dt= form.label :rythm
  %dd= form.text_field :rythm
  %dt= form.label :artist_wiki_links_text
  %dd= form.text_field :artist_wiki_links_text, :class=>"artists_lookup", :"data-pre"=>form.object.artist_wiki_links_combined_links.to_json
  %dt= form.label :album_wiki_links_text
  %dd= form.text_field :album_wiki_links_text, :class=>"albums_title_lookup", :"data-pre"=>form.object.album_wiki_links_combined_links.to_json
  %dt= form.label :info
  %dd= form.text_area :info, :class=>"span12"

