%dl
  %dt= form.label :work_wiki_link_text
  %dd= form.text_field :work_wiki_link_text, class: "work_title_lookup", :"data-pre"=>form.object.work_wiki_link_combined_link.to_json
  %dt= form.label :recording_date
  %dd= form.text_field :recording_date_text
  %dt= form.label :recording_location
  %dd= form.text_field :recording_location
  %dt= form.label :category_wiki_links_text
  %dd= form.text_field :category_wiki_links_text, class: "categories_lookup", :"data-pre"=>form.object.category_wiki_links_combined_links.to_json
  %dt= form.label :duration
  %dd= form.text_field :duration
  %dt= form.label :rythm
  %dd= form.text_field :rythm

  %h2= Artist.model_name.human.pluralize
  %table.table.table-striped
    %thead
      %tr
        %th= Artist.model_name.human
        %th= RecordingArtistWikiLink.human_attribute_name('role')
        %th &nbsp;        
    %tbody
      = form.fields_for :artist_wiki_links, wrapper: false  do |a|
        %tr.fields
          %td= a.text_field :reference_text, class: "recording_artists_lookup", :"data-pre"=>format_combined_link_pre(a.object.combined_link)
          %td= a.text_field :role
          %td= a.link_to_remove '<i class="icon-trash icon-white"></i>'.html_safe, class: 'btn btn-danger pull-right'
    %tfoot
      %tr
        %td{colspan:3}
          = form.link_to_add '<i class="icon-plus icon-white"></i>'.html_safe, :artist_wiki_links, class: 'btn btn-primary pull-right'

  %h2= Release.model_name.human.pluralize
  %table.table.table-striped
    %thead
      %tr
        %th= Release.model_name.human
        %th= RecordingReleaseWikiLink.human_attribute_name('itemSection')
        %th= RecordingReleaseWikiLink.human_attribute_name('itemId')
        %th= RecordingReleaseWikiLink.human_attribute_name('trackNb')
        %th &nbsp;        
    %tbody
      = form.fields_for :release_wiki_links, wrapper: false do |r|
        %tr.fields
          %td= r.text_field :reference_text, class: "recording_releases_title_lookup", :"data-pre"=>format_combined_link_pre(r.object.combined_link)
          %td= r.text_field :itemSection, class:"span1"
          %td= r.text_field :itemId, class:"span1"
          %td= r.text_field :trackNb, class:"span1"
          %td= r.link_to_remove '<i class="icon-trash icon-white"></i>'.html_safe, class: 'btn btn-danger pull-right'
    %tfoot
      %tr
        %td{colspan:5}
          = form.link_to_add '<i class="icon-plus icon-white"></i>'.html_safe, :release_wiki_links, class: 'btn btn-primary pull-right'
    
  = form.fields_for :supplementary_sections do |ss|
    %dt= ss.label t("headers.supplement_section")
    %dd= ss.text_field :title
    %dd= ss.text_area :content, class: "span12"

  %p
  %dt= link_to t("headers.new_section"), controller: :recordings, action: :add_supplementary_section, id: @recording.id, class: "btn"

