<%= title("Modifier l'enregistrement") %>
<%= form_for @recording do |f| %>
<%= render :partial=>'form', :object=>f %>
<div class="formActions">
	<%= f.submit %> ou <%= link_to t("cancel"), :back %>
</div>
<% end %>

<%= render :partial=>'links' %>
