<%= title("Recordings") %>

<table>
  <thead>
    <tr>
      <th><%= Work.human_attribute_name("title") %></th>
      <th><%= Recording.human_attribute_name("recording_date") %></th>
      <th><%= Recording.human_attribute_name("recording_location") %></th>
      <th><%= Recording.human_attribute_name("duration") %></th>
      <th>Artiste(s)</th>
      <th>Album(s)</th>
    </tr>
  </thead>
  <tbody>
    <% @recordings.each do |recording| %>
    <tr>
      <td><%= link_to recording.title, recording_path(recording) %></td>
      <td><%= recording.recording_date %></td>
      <td><%= recording.recording_location %></td>
      <td><%= recording.duration %></td>
      <td><%= recording.artists.join(", ") %></td>
      <td><%= recording.albums.join(", ") %></td>
    </tr>
    <% end %>
  </tbody>
</table>



<%= link_to t("new"), new_recording_path %>

