.page-header
  = title("Recordings")

.row
  .span1
    = link_to t("new"), new_recording_path, :class=>"btn"
  .span11
    = alpha_links().html_safe

= paginate @recordings
= render :partial=>"search_result", :object=>@recordings
= paginate @recordings

.row
  .span1
    = link_to t("new"), new_artist_path, :class=>"btn"
  .span11
    = alpha_links().html_safe

