<%= title("Recordings") %>

<%= render partial: 'common/search' %>

<%= button_to t("new"), new_recording_path, :method => :get  %>

<p>
<%= alpha_links().html_safe %>

<%= paginate @recordings %>

<table>
  <thead>
    <tr>
      <th><%= Recording.human_attribute_name("title") %></th>
      <th><%= Recording.human_attribute_name("recording_date") %></th>
      <th><%= Recording.human_attribute_name("duration") %></th>
      <th><%= Recording.human_attribute_name("artist_wiki_link") %></th>
    </tr>
  </thead>
  <tbody>
    <% @recordings.each do |recording| %>
    <tr>
      <td><%= link_to recording.title, recording_path(recording) %></td>
      <td><%= recording.recording_date %></td>
      <td><%= recording.duration %></td>
      <td><%= recording.artist_wiki_links.collect{|awl| artist_wiki_link_path(awl) }.join(", ").html_safe %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @recordings %>

<%= button_to t("new"), new_recording_path, :method => :get  %>

