.page-header
  = title(Recording.model_name.human.pluralize)

.row
  .span11
    = alpha_recording_links

= paginate @recordings
= render partial: "search_result", object: @recordings
= paginate @recordings

.row
  .span11
    = alpha_recording_links

