<%= title("Recordings") %>

<%= render partial: 'common/search' %>

<table>
  <thead>
    <tr>
      <th><%= Recording.human_attribute_name("title") %></th>
      <th><%= Recording.human_attribute_name("recording_date") %></th>
      <th><%= Recording.human_attribute_name("recording_location") %></th>
      <th><%= Recording.human_attribute_name("duration") %></th>
      <th><%= Recording.human_attribute_name("rythm") %></th>
      <th><%= Recording.human_attribute_name("artist_wiki_link") %></th>
      <th><%= Recording.human_attribute_name("album_wiki_link") %></th>
    </tr>
  </thead>
  <tbody>
    <% @recordings.each do |recording| %>
    <tr>
      <td><%= link_to recording.title, recording_path(recording) %></td>
      <td><%= recording.recording_date %></td>
      <td><%= recording.recording_location %></td>
      <td><%= recording.duration %></td>
      <td><%= recording.rythm %></td>
      <td><%= recording.artist_wiki_links.collect{|awl| artist_wiki_link_path(awl) }.join(", ").html_safe %></td>
      <td><%= album_wiki_link_path(recording.album_wiki_link) %></td>
    </tr>
    <% end %>
  </tbody>
</table>



<%= link_to t("new"), new_recording_path %>

