= title(t('headers.new_recording'))

.tabbable.row
  .span12
    - unless @recording.errors.empty?
      .alert.alert-error
        %strong #{t('messages.recording_errors_warning')}:
        %br/
        = @recording.errors.full_messages.join("</br>").html_safe

    = form_for @recording do |f|
      = render partial: 'form', object: f
      .formActions
        = f.submit class: "btn btn-primary"
        = link_to t("preview"), preview_recordings_path, class: "btn btn-default preview"
        #{t('or')} #{link_to t("cancel"), :back, class: "btn"}

