= title("Nouvel enregistrement")

.tabbable.row
  .span12
    - unless @recording.errors.empty?
      .alert.alert-error
        %strong Le(s) problème(s) suivant(s) nous empêche d'enregistrer le nouvel enregistrement:
        %br/
        = @recording.errors.full_messages.join("</br>").html_safe

    = form_for @recording do |f|
      = render :partial=>'form', :object=>f
      .formActions
        = f.submit :class=>"btn btn-primary"
        ou #{link_to t("cancel"), :back, :class=>"btn"}

