.row      
  .span12
    .page-header
      = title(t("headers.recordings_portal"))

.row      
  .span12
    %p
      Les enregistrements sont la réalisation sonore d'une oeuvre qui forment les éléments d'un release (ex. vinyle 33 tours, CD, etc) ou qui existent sur d'autres media (fichiers mp3, internet, etc).

.row
  - if @feature_in_month
    .span6
      %h2= @feature_in_month.title 
      .content
        = RedCloth.new(@feature_in_month.summary(750)).to_html.html_safe
      %p.pull-left 
        Voir l'enregistrement:
        = recording_wiki_link_path(@feature_in_month.featured_wiki_link)
      - if @feature_in_month.more?(750)
        %p.pull-right= link_to "continuer la lecture", @feature_in_month

  .span6
    %h2 Ce que vous pouvez faire pour contribuer
    %ul
      %li 
        = link_to "Écrire la fiche d'un enregistrement", new_recording_path
      %li 
        Réviser la fiche d'un enregistrement modifiée récemment:
        %ul 
          %li 
            - Recording.order_by(:updated_at=>:desc).limit(5).all.each do |recording|
              %span.recording>= link_to recording.to_wiki_link.object_text, recording_path(recording.id)
              ;&nbsp;
            = link_to "...", recent_changes_recordings_path, :title=>"consulter la liste complète des modifications récentes"
          %li= link_to "consulter la liste complète des enregistrements modifiés récemment", recent_changes_recordings_path

      %li
        Améliorer la fiche d'un enregistrement:
        %ul
          %li= link_to "Sans artiste", "#", :class=>"soon-available"
          %li= link_to "Sans catégorie", "#", :class=>"soon-available"
          %li= link_to "Sans release", "#", :class=>"soon-available"
          %li= link_to "Sans section(s) complémentaire(s)", "#", :class=>"soon-available"

.row
  .span12
    %h2 Par ordre alphabétique
    %ul
      - alphabetic_recording_grouping.each do |letter, heading|
        %li 
          %span.letter= heading
          - Recording.where(:cache_first_letter => letter).sort(updated_at:1).limit(5).each do |recording|
            %span.recording>= link_to recording.to_wiki_link.object_text, recording_path(recording.id)
            ;&nbsp;
          = link_to "...", alphabetic_recordings_path(letter: letter, page: 1), :title=>"consulter la liste complète des enregistrements commençant par \"#{letter}\""
      %li= link_to "tous les enregistrements", recordings_path(page: 1)

.row
  .span12
    %h2.soon-available Par tag/catégorie


