.row      
  .span12
    .page-header
      = title(t("headers.recordings_portal"))

.row      
  .span12
    %p
      = t('portal.recording_explanation')

.row
  - if @feature_in_month
    .span6
      %h2= @feature_in_month.title 
      .content
        = RedCloth.new(@feature_in_month.summary(750)).to_html.html_safe
      %p.pull-left 
        #{t('portal.see_recording')}:
        = recording_wiki_link_path(@feature_in_month.featured_wiki_link)
      - if @feature_in_month.more?(750)
        %p.pull-right= link_to "continuer la lecture", @feature_in_month

  .span6
    %h2 #{t('portal.how_to_help')}
    %ul
      %li 
        = link_to t("portal.new_recording_text"), new_recording_path
      %li 
        #{t('portal.revise_recording')}:
        %ul 
          %li 
            - Recording.order_by(updated_at: :desc).limit(5).all.each do |recording|
              %span.recording>= link_to recording.to_wiki_link.object_text, recording_path(recording.id)
              ;&nbsp;
            = link_to "...", recent_changes_recordings_path, title: t("portal.recent_changes")
          %li= link_to t("portal.recent_changes_recording"), recent_changes_recordings_path

      %li
        #{t('portal.improve_recording')}:
        %ul
          %li= link_to t("portal.without_artist"), without_artist_recordings_path
          %li= link_to t("portal.without_categories"), without_tags_recordings_path
          %li= link_to t("portal.without_releases"), without_releases_recordings_path
          %li= link_to t("portal.without_additional_sec"), without_supplementary_sections_recordings_path

.row
  .span12
    %h2 #{t('portal.alphabetical')}
    %ul
      - alphabetic_recording_grouping.each do |letter, heading|
        %li 
          %span.letter= heading
          - Recording.where(cache_first_letter: letter).sort(updated_at:1).limit(5).each do |recording|
            %span.recording>= link_to recording.to_wiki_link.object_text, recording_path(recording.id)
            ;&nbsp;
          = link_to "...", alphabetic_recordings_path(letter: letter, page: 1), title: "#{t('portal.complete_recording_alphabet')} \"#{letter}\""
      %li= link_to t("portal.all_recordings"), recordings_path(page: 1)

.row
  .span12
    %h2.soon-available #{t('portal.by_tag')}