= title(@recording.title)

.row
  = render partial: 'links'
  - if current_user
    = render partial: 'common/tag_form', locals: {title: @recording.title, resource: @recording}
  = t('preview_warning')
  = render partial: 'info'