.page-header
  = title(t("headers.recordings_search"))

.row
  .span12
    %form{action: recordings_path}
      %input.search-query.span6{name: "q", type: "text", value: params[:q] ? params[:q] : "", placeholder: t("search")}/
      %input{type: "submit", value: t("search")}

.row
  .span12
    %p #{t('rsearch.search_recording_keywords')}:
    %dl
      %dt title:
      %dd 
        #{t('rsearch.limit_recording_title')}:
        %ul
          %li title:amsterdam
          %li title:"il nous faut regarder"  

      %dt recording_date:
      %dd 
        #{t('rsearch.limit_recording_date')}:
        %ul
          %li recording_date:1980-03-20
          %li recording_date:1960
          %li recording_date:2010-12

      %dt recording_location:
      %dd 
        #{t('rsearch.limit_recording_location')}:
        %ul
          %li recording_location:Montréal
          %li recording_location:"Los Angeles"  