<%= title(@recording.title) %>
<div class="section summary">
  <p>Un enregistrement de: <%= work_wiki_link_path(@recording.work_wiki_link) %></p>
  <p>Enregistré le: <%= @recording.recording_date %></p>
  <p>Lieu: <%= @recording.recording_location %></p>
  <p>Durée: <%= @recording.duration %></p>
  <p>Rythme: <%= @recording.rythm %>bpm
  <p style="display:hidden"><%= @recording.recording_location %></p>
</div>

<h2>Crédits</h2>
<table>
  <thead><tr>
    <th>Artiste</th>
    <th>Rôle</th>
  </tr></thead>
  <tbody>
    <% @recording.artist_wiki_links.each do |artist| %>
    <tr>
      <td><%= artist_wiki_link_path(artist) %></td>
      <td>&nbsp;</td>
    </tr>
    <% end %>
  </tbody>
</table>

<h2>Albums</h2>
<table>
  <tbody>
    <% @recording.album_wiki_links.each do |album| %>
    <tr>
      <td><%= album_wiki_link_path(album) %></td>
      <td>&nbsp;</td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= render :partial=>'links' %>
