<%= title(@recording.title) %>
<div class="section summary">
  <p>Un enregistrement de: <%= work_wiki_link_path(@recording.work_wiki_link) %></p>
  <p>Enregistré le: <%= @recording.recording_date %></p>
  <p>Lieu: <%= @recording.recording_location %></p>
  <p>Durée: <%= @recording.duration %></p>
  <p>Rythme: <%= @recording.rythm %>bpm
  <p style="display:hidden"><%= @recording.recording_location %></p>
</div>

<h2>Crédits</h2>
<table>
  <thead><tr>
    <th><%= Artist.model_name.human.pluralize %></th>
  </tr></thead>
  <tbody>
    <% @recording.artist_wiki_links.each do |awl| %>
    <tr>
      <td><%= artist_wiki_link_path(awl) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<h2><%= Album.model_name.human.pluralize %></h2>
<% if @recording.album_wiki_links.length > 0 %>
    <table>
        <tbody>
            <tr>
            <th><%= Album.human_attribute_name("title") %></th>
            <th><%= Album.human_attribute_name("date_released") %></th>
            <th><%= Album.human_attribute_name("label") %></th>
            <th><%= Album.human_attribute_name("media_type") %></th>
            <th><%= Album.human_attribute_name("reference_code") %></th>
            </tr>
          <% @recording.album_wiki_links.each do |album_wiki_link|
              begin
                    album = Album.find(album_wiki_link.reference[4, 25]) %>
                    <tr>
                        <td><%= link_to album.title, album_path(album) %></td>
                        <td><%= album.date_released %></td>
                        <td><%= album.label %></td>
                        <td><%= album.media_type %></td>
                        <td><%= album.reference_code %></td>
                    </tr>
                <% rescue %>
                        <tr>
                            <td><%= album_wiki_link_path(album_wiki_link) %></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                <% end %>                    
          <% end %>
        </tbody>
    </table>
<% else %>
<!-- TODO What to put when there are no albums -->
<% end %>

<%= render :partial=>'links' %>
