%dl
  %dt= form.label :title
  %dd= form.text_field :title
  %dt= form.label :date_written
  %dd= form.text_field :date_written
  %dt= form.label :copyright
  %dd= form.text_field :copyright
  %dt= form.label :language_code
  %dd= form.text_field :language_code
  %dt= form.label :publisher
  %dd= form.text_field :publisher
  %dt= form.label :lyrics
  %dd= form.text_area :lyrics, :class=>"span12"
  %dt= form.label :work_wiki_links_text
  %dd= form.text_field :work_wiki_links_text, :class=>"work_works_title_lookup", :"data-pre"=>form.object.work_wiki_links_combined_links.to_json
  %dt= form.label :artist_wiki_links_text
  %dd= form.text_field :artist_wiki_links_text, :class=>"work_artists_lookup", :"data-pre"=>form.object.artist_wiki_links_combined_links.to_json
  %dt= form.label :recording_wiki_links_text
  %dd= form.text_field :recording_wiki_links_text, :class=>"work_recordings_title_lookup", :"data-pre"=>form.object.recording_wiki_links_combined_links_renamed.to_json
  = form.fields_for :supplementary_sections do |ss|
    %dt= ss.label "Section Supplémentaire"
    %dd= ss.text_field :title
    %dd= ss.text_area :content, :class=>"span12"

  %dt= link_to t("Nouvelle section"), :back, :class=>"btn"
