%dl
  %dt= form.label :title
  %dd= form.text_field :title
  %dt= form.label :date_written
  %dd= form.text_field :date_written
  %dt= form.label :copyright
  %dd= form.text_field :copyright
  %dt= form.label :language_code
  %dd= form.text_field :language_code
  %dt= form.label :publisher
  %dd= form.text_field :publisher
  %dt= form.label :lyrics
  %dd= form.text_area :lyrics, :class=>"input-xlarge", :style=>"width: 75em;"
  %dt= form.label :chords
  %dd= form.text_field :chords
  %dt= form.label :artist_wiki_links_text
  %dd= form.text_field :artist_wiki_links_text, :class=>"artists_lookup", :"data-pre"=>form.object.artist_wiki_links_combined_links.to_json
  %dt= form.label :recording_wiki_links_text
  %dd= form.text_field :recording_wiki_links_text, :class=>"recordings_title_lookup", :"data-pre"=>form.object.recording_wiki_links_combined_links.to_json
