<ul>
  <li>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </li>

  <li>
    <%= form.label :date_written %>
    <%= form.text_field :date_written %>
  </li>

  <li>
    <%= form.label :copyright %>
    <%= form.text_field :copyright %>
  </li>

  <li>
    <%= form.label :language_code %>
    <%= form.text_field :language_code %>
  </li>

  <li>
    <%= form.label :publisher %>
    <%= form.text_field :publisher %>
  </li>

  <li>
    <%= form.label :lyrics %>
    <%= form.text_field :lyrics %>
  </li>

  <li>
    <%= form.label :chords %>
    <%= form.text_field :chords %>
  </li>

  <li>
    <%= form.label :origworkid %>
    <%= form.text_field :origworkid %>
  </li>

</ul>

