.section.summary
  %p
    = Work.human_attribute_name("date_written")
    \: #{@work.date_written}
  %p
    = Work.human_attribute_name("copyright")
    \: #{@work.copyright}
  %p
    = Work.human_attribute_name("language_name")
    \: 
    - if @work.language_name
      #{@work.language_name.slice(0,1).capitalize + @work.language_name.slice(1..-1)}
  %p
    = Work.human_attribute_name("publisher")
    \: #{@work.publisher}

%h2 #{t('credits')}
- if @work.artist_wiki_links.size == 0 
  %p #{t('messages.work_no_artists')}.
- else
  .right-size
    %table.table.table-striped
      %thead
        %tr
          %th= Artist.model_name.human.pluralize
          %th= WorkArtistWikiLink.human_attribute_name('role')
      %tbody
        - @work.artist_wiki_links.sort{|a,b| ((a.name.downcase <=> b.name.downcase) || 1)}.each do |awl|
          %tr
            %td= artist_wiki_link_path(awl)
            %td= awl.role

- if @work.work_wiki_links.empty?
- else
  %h2= Work.human_attribute_name("relation").pluralize
  .right-size
    %table.table.table-striped
      %thead
        %tr
          %th= Work.human_attribute_name("nature")
          %th= Work.human_attribute_name("work_title") 
          %th= Work.human_attribute_name("language_name")
          %th= Work.human_attribute_name("date_written")
          %th= WorkWikiLink.human_attribute_name("relation")
      %tbody
        - @work.work_wiki_links.each do |wwl|
          %tr
            %td= wwl.relation_text
            %td= work_wiki_link_path(wwl)
            %td= wwl.language_name
            %td= wwl.date_written
            %td= wwl.relation

%h2= Recording.model_name.human.pluralize
- if @work.recording_wiki_links.empty?
  %p #{t('messages.work_no_recordings')}
- else
  .right-size
    %table.table.table-striped
      %thead
        %tr
          %th= Recording.human_attribute_name("title")
          %th= Recording.human_attribute_name("recording_date")
          %th= Recording.human_attribute_name("duration")
          %th= Recording.human_attribute_name("artist_wiki_link")
      %tbody
        - @work.recording_wiki_links.sort{|a,b| ((a.recording_date <=> b.recording_date) || 1)}.each do |rwl|
          %tr
            %td= recording_wiki_link_path(rwl)
            %td= rwl.recording_date
            %td= rwl.duration
            %td= rwl.recording.artist_wiki_links.collect{|awl| artist_wiki_link_path(awl) }.join(", ").html_safe 

%h2= Work.human_attribute_name("lyrics")
%p=  RedCloth.new(@work.lyrics).to_html.html_safe 

- @work.supplementary_sections.each do |ss|
  %h2= ss.title 
  = RedCloth.new(ss.content).to_html.html_safe

- unless @work.new_record?
  .well 
    = content_tag(:small, updated_at(@work))