= title(@work.title)
= t("administration")
.row
  = render partial: 'links'
  = link_to t("delete"), work_path(@work), method: :delete, confirm: t('messages.confirm'), class: "btn btn-danger"
  = render partial: 'info'