= title("#{t("administration")} - #{@work.title}")

= render partial: 'links'
%br
= link_to t("delete"), work_path(@work), method: :delete, confirm: t('messages.confirm'), class: "btn btn-danger"
= t('messages.delete_work_warning')