.page-header
  = title(t("headers.works_all_index"))

.row
  .span11
    = alpha_links

= paginate @works
= render partial: "search_result", object: @works
= paginate @works

.row
  .span11
    = alpha_links

