.page-header  
  = title(t("headers.works_alphabetic_index", :heading=>alphabetic_work_grouping[params[:letter]]))

.row
  .span11
    = alpha_work_links

= paginate @works
= render :partial=>"search_result", :object=>@works
= paginate @works

.row
  .span11
    = alpha_work_links

