= title("Modifier l'oeuvre")

- unless @work.errors.empty?
  .validationerror
    Le(s) problème(s) suivant(s) nous empêche d'enregistrer l'oeuvre:
    %br/
    = @work.errors.full_messages.join("</br>").html_safe

= form_for @work do |f|
  = render :partial=>'form', :object=>f
  .formActions
    = f.submit
    ou #{link_to t("cancel"), :back}

= render :partial=>'links'
