.page-header
  = title("Works")

.row
  .span1
    = link_to t("new"), new_work_path, :class=>"btn"
  .span11
    = alpha_links().html_safe

= paginate @works
= render :partial=>"search_result", :object=>@works
= paginate @works

.row
  .span1
    = link_to t("new"), new_work_path, :class=>"btn"
  .span11
    = alpha_links().html_safe

