<%= title("Works") %>

<form action="" method="get">
  <input type="text" name="q" value="<%= params[:q] if params[:q] %>" /> 
  <input type="submit" value="<%= t("search") %>" />
</form>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Date written</th>
      <th>Copyright</th>
      <th>Language code</th>
      <th>Publisher</th>
      <th>Lyrics</th>
      <th>Chords</th>
      <th>Original work ID</th>
    </tr>
  </thead>
  <tbody>
    <% @works.each do |work| %>
    <tr>
      <td><%= link_to work.title, work_path(work) %></td>
      <td><%= work.date_written %></td>
      <td><%= work.copyright %></td>
      <td><%= work.language_code %></td>
      <td><%= work.publisher %></td>
      <td><%= work.lyrics %></td>
      <td><%= work.chords %></td>
      <td><%= work.origworkid %></td>
    </tr>
    <% end %>
  </tbody>
</table>



<%= link_to 'New', new_work_path %>

