.page-header
  = title(Work.model_name.human.pluralize)

.row
  .span11
    = alpha_links().html_safe

= paginate @works
= render :partial=>"search_result", :object=>@works
= paginate @works

.row
  .span11
    = alpha_links().html_safe

