.page-header
  - if params[:q]
    = title(t("headers.works_search_result", q: params[:q]))
  - else
    = title(t("headers.works_index"))

- unless params[:q]
  .row
    .span11
    = alpha_work_links
- else			
  .row
    .span12
      = t("search_question")
      = link_to t("new"), new_work_path(q: params[:q]), class: "btn"

= paginate @works
= render partial: "search_result", object: @works
= paginate @works

- unless params[:q]
  .row
    .span11
    = alpha_work_links

