<%= title("Works") %>

<%= render partial: 'common/search' %>

<%= link_to 'New', new_work_path %>
<p>
<%= alpha_links().html_safe %>

<%= paginate @works %>

<table>
  <thead>
    <tr>
      <th><%= Work.human_attribute_name("title") %></th>
      <th><%= Work.human_attribute_name("date_written") %></th>
      <th><%= Work.human_attribute_name("copyright") %></th>
      <th><%= Work.human_attribute_name("language_name_french") %></th>
      <th><%= Work.human_attribute_name("publisher") %></th>
      <th><%= Work.human_attribute_name("lyrics") %></th>
      <th><%= Work.human_attribute_name("chords") %></th>
    </tr>
  </thead>
  <tbody>
    <% @works.each do |work| %>
    <tr>
      <td><%= link_to work.title, work_path(work) %></td>
      <td><%= work.date_written %></td>
      <td><%= work.copyright %></td>
      <td><%= work.language_name %></td>
      <td><%= work.publisher %></td>
      <td><%= work.lyrics %></td>
      <td><%= work.chords %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @works %>

<%= link_to 'New', new_work_path %>

