= title("Nouvelle Oeuvre")

- unless @work.errors.empty?
  .validationerror
    Le(s) problème(s) suivant(s) nous empêche d'enregistrer la nouvelle oeuvre:
    %br/
    = @work.errors.full_messages.join("</br>").html_safe

= form_for @work do |f|
  = render :partial=>'form', :object=>f
  = f.submit
  ou #{link_to 'annuler', :back}
