.row      
  .span12
    .page-header
      = title(t("headers.works_portal"))

.row      
  .span12
    %p
      #{t('portal.work_explanation')}. 

.row
  - if @feature_in_month
    .span6
      %h2= @feature_in_month.title 
      .content
        = RedCloth.new(@feature_in_month.summary(750)).to_html.html_safe
      %p.pull-left 
        #{t('portal.see_work')}:
        = work_wiki_link_path(@feature_in_month.featured_wiki_link)
      - if @feature_in_month.more?(750)
        %p.pull-right= link_to t("portal.continue_reading"), @feature_in_month

  .span6
    %h2 #{t('portal.how_to_help')}
    %ul
      %li 
        = link_to t("portal.new_work_text"), new_work_path
      %li 
        #{t('portal.revise_work')}:
        %ul 
          %li 
            - Work.order_by(updated_at: :desc).limit(5).all.each do |work|
              %span.work>= link_to work.to_wiki_link.object_text, work_path(work.id)
              ;&nbsp;
            = link_to "...", recent_changes_works_path, title: t("portal.recent_changes")
          %li= link_to t("portal.recent_changes_work"), recent_changes_works_path

      %li
        #{t('portal.improve_work')}:
        %ul
          %li= link_to t("portal.without_artist"), without_artist_works_path
          %li= link_to t("portal.without_recording"), without_recordings_works_path
          %li= link_to t("portal.without_lyrics"), without_lyrics_works_path
          %li= link_to t("portal.without_tags"), without_tags_works_path
          %li= link_to t("portal.without_supplementary_sec"), without_supplementary_sections_works_path

.row
  .span12
    %h2 #{t('portal.alphabetical')}
    %ul
      - alphabetic_work_grouping.each do |letter, heading|
        %li 
          %span.letter= heading
          - Work.where(cache_first_letter: letter).order_by(updated_at:1).limit(5).each do |work|
            %span.work>= link_to work.to_wiki_link.object_text, work_path(work.id)
            ;&nbsp;
          = link_to "...", alphabetic_works_path(letter: letter, page: 1), title: "#{t('portal.complete_work_alphabet')} \"#{letter}\""
      %li= link_to t("portal.all_works"), works_path(page: 1)

.row
  .span12
    %h2.soon-available #{t('portal.by_tag')}