.page-header
  = title(t("headers.works_search"))

.row
  .span12
    %form{action: works_path}
      %input.search-query.span6{name: "q", type: "text", value: params[:q] ? params[:q] : "", placeholder: t("search")}/
      %input{type: "submit", value: t("search")}

.row
  .span12
    %p #{t('rsearch.search_work_keywords')}:
    %dl
      %dt title:
      %dd 
        #{t('rsearch.limit_work_title')}:
        %ul
          %li title:amsterdam
          %li title:"il nous faut regarder"  

      %dt copyright: 
      %dd 
        #{t('rsearch.limit_work_copyright')}:
        %ul
          %li copyright:1985
          %li copyright:"La maison des oeuvres"

      %dt lyrics:
      %dd 
        #{t('rsearch.limit_work_lyrics')}:
        %ul
          %li lyrics:chanson
          %li lyrics:"what a wonderful world"

      %dt date_written:
      %dd 
        #{t('rsearch.limit_work_date_written')}:
        %ul
          %li date_written:1940-03-03
          %li date_written:1950
          %li date_written:1934-12

      %dt language_code:
      %dd 
        #{t('rsearch.limit_work_language')}:
        %ul
          %li language_code:fre