= title(@work.title)
.row
  = render :partial=>'links'
  .span12
    .section.summary
      %p
        = Work.human_attribute_name("date_written")
        \: #{@work.date_written}
      %p
        = Work.human_attribute_name("copyright")
        \: #{@work.copyright}
      %p
        = Work.human_attribute_name("language_name")
        \: 
        - if @work.language_name
          #{@work.language_name.slice(0,1).capitalize + @work.language_name.slice(1..-1)}
      %p
        = Work.human_attribute_name("publisher")
        \: #{@work.publisher}

    %h2 Crédits
    - if @work.artist_wiki_links.count == 0 
      %p This artist does not have any works.
    - else
      %table.table.table-striped
        %thead
          %tr
            %th= Artist.model_name.human.pluralize
        %tbody
          - @work.artist_wiki_links.sort{|a,b| a.name.downcase <=> b.name.downcase}.each do |awl|
            %tr
              %td= artist_wiki_link_path(awl)

    %h2= Recording.model_name.human.pluralize
    - if @work.recording_wiki_links.count == 0 
      %p This artist does not have any works.
    - else
      %table.table.table-striped
        %thead
          %tr
            %th= Recording.human_attribute_name("title")
            %th= Recording.human_attribute_name("recording_date")
            %th= Recording.human_attribute_name("duration")
            %th= Recording.human_attribute_name("artist_wiki_link")
        %tbody
          - @work.recording_wiki_links.sort{|a,b| a.recording_date <=> b.recording_date}.each do |rwl|
            %tr
              %td= recording_wiki_link_path(rwl)
              %td= rwl.recording_date
              %td= rwl.duration
              %td= rwl.recording.artist_wiki_links.collect{|awl| artist_wiki_link_path(awl) }.join(", ").html_safe 

    - if @work.work_wiki_links.count == 0 
    - else
      %h2= Work.human_attribute_name("work_wiki_links_text")
      %table.table.table-striped
        %thead
          %tr
            %th= Work.human_attribute_name("relation")
            %th= Work.human_attribute_name("work_wiki_links_text") 
            %th= Work.human_attribute_name("language_name")
            %th= Work.human_attribute_name("date_written")
        %tbody
          - @work.work_wiki_links.each do |wwl|
            %tr
              %td= Work.human_attribute_name(wwl.relation)
              %td= work_wiki_link_path(wwl)
              %td= wwl.language_name
              %td= wwl.date_written

    %h2= Work.human_attribute_name("lyrics")
    %p=  RedCloth.new(@work.lyrics).to_html.html_safe 
    %h2= Work.human_attribute_name("info")
    %p=  RedCloth.new(@work.info).to_html.html_safe 


    .well 
      = content_tag(:small, Work.human_attribute_name("updated_at") + " " + @work.updated_at.to_s)
