<%= title(@work.title + " - Oeuvre") %>

<div class="section summary">
  <p>Date: <%= @work.date_written %></p>
  <p>Copyright: <%= @work.copyright %></p>
  <p>Language: <%= @work.language_code %></p>
  <p>Publisher: <%= @work.publisher %></p>
  <p>Paroles: <%= @work.lyrics %></p>
  <p>Chords: <%= @work.chords %></p>
  <p>Orig Work ID: <%= @work.origworkid %></p>
</div>


<%= render :partial=>'links' %>


