= title(@work.title)

.row
  = render :partial=>'links'
  .span12
    .section.summary
      %p
        = Work.human_attribute_name("date_written")
        \: #{@work.date_written}
      %p
        = Work.human_attribute_name("copyright")
        \: #{@work.copyright}
      %p
        = Work.human_attribute_name("language_name")
        \: #{@work.language_name}
      %p
        = Work.human_attribute_name("publisher")
        \: #{@work.publisher}

    %h2 Crédits
    - if @work.artist_wiki_links.count == 0 
      %p This artist does not have any works.
    - else
      %table.table.table-striped
        %thead
          %tr
            %th= Artist.model_name.human.pluralize
        %tbody
          - @work.artist_wiki_links.sort{|a,b| a.name.downcase <=> b.name.downcase}.each do |awl|
            %tr
              %td= artist_wiki_link_path(awl)

    %h2= Recording.model_name.human.pluralize
    - if @work.recording_wiki_links.count == 0 
      %p This artist does not have any works.
    - else
      %table.table.table-striped
        %thead
          %tr
            %th= Recording.human_attribute_name("title")
            %th= Recording.human_attribute_name("recording_date")
            %th= Recording.human_attribute_name("duration")

        %tbody
          - @work.recording_wiki_links.sort{|a,b| a.recording_date <=> b.recording_date}.each do |rwl|
            %tr
              %td= recording_wiki_link_path(rwl)
              %td= rwl.recording_date
              %td= rwl.duration


    %h2= Work.human_attribute_name("lyrics")
    %p= content_tag('pre', @work.lyrics )

    %h2= Work.human_attribute_name("chords")
    %p= @work.chords

    .well 
      = content_tag(:small, Work.human_attribute_name("updated_at") + " " + @work.updated_at.to_s)
