= form_for(@possession) do |f|
  - if @possession.errors.any?
    #error_explanation
      %h2
        = t('messages.error')
      %ul
        - @possession.errors.full_messages.each do |msg|
          %li
            = msg
  %p
    = f.label :release_wiki, t('addmusic.release')
    = f.text_field :release_wiki, 'data-pre' => @possession.release? ? [{id:@possession.release_wiki, name:@possession.release.title}].to_json : "", class: "release_title_lookup"
  %p
    = f.label :labels_text, t('addmusic.labels')
    = f.text_field :labels_text, 'data-pre' => @possession.tokenized_labels, class: "labels_lookup"
  %p
    = f.label :acquisition_date, t('addmusic.acquisitiondate')
    = f.text_field :acquisition_date, id: "acquisition_date"
  %p
    = f.label :rating, t('addmusic.rating')
    = f.text_field :rating
  %p
    = f.label :comments, t('addmusic.comments')
    = f.text_area :comments
  .actions
    = f.submit submit_text
