%h1
  = t('headers.possessions_index')

- if @labels.size > 0
  %table
    - @labels.each do |label|
      %tr
        %td
          = label.name
        %td
          = label.count

- if @possessions.size > 0
  %table
    %tr
      %th
        = t('addmusic.album')
    - @possessions.each do |possession|
      %tr
        %td
          = possession.album.title
        %td
          = link_to t('show'), possession
        %td
          = link_to t('modify'), edit_possession_path(possession)
        %td
          = link_to t('delete'), possession, method: :delete, confirm: 'Are you sure?'
- else
  = t('addmusic.nomusic')
