%h1
  = t('headers.possessions_index')
%p#notice
  = notice
%p
  = "#{t('addmusic.album')}:"
  = link_to @possession.album.title,  album_path(@possession.album)
%p
  = "#{t('addmusic.labels')}:"
  %ul
    - @possession.labels.each do |label|
      %li
        = label
%p
  = "#{t('addmusic.acquisitiondate')}:"
  = @possession.acquisition_date
%p
  = "#{t('addmusic.rating')}:"
  = @possession.rating
%p
  = "#{t('addmusic.comments')}:"
  = @possession.comments

= link_to t('modify'), edit_possession_path(@possession) 
|
= link_to t('back'), possessions_path
