%h1= title(t('headers.possessions_index'))

.row
  = render partial: 'links'
  .span12
    %p
      = "#{t('addmusic.release')}:"
      = release_wiki_link_path @possession.release_wiki_link
    %p
      = "#{t('addmusic.labels')}:"
      - @possession.labels.each do |label|
        %span.label.possession-label
          = label
    %p
      = "#{t('addmusic.acquisitiondate')}:"
      = @possession.acquisition_date
    %p
      = "#{t('addmusic.rating')}:"
      = @possession.rating
    %p
      = "#{t('addmusic.comments')}:"
      = @possession.comments


