<ul>
  <li>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </li>

  <li>
    <%= form.label :date_released %>
    <%= form.text_field :date_released %>
  </li>

  <li>
    <%= form.label :label %>
    <%= form.text_field :label %>
  </li>

  <li>
    <%= form.label :media_type %>
    <%= form.text_field :media_type %>
  </li>

  <li>
    <%= form.label :reference_code %>
    <%= form.text_field :reference_code %>
  </li>

</ul>

