.page-header
  = title(t("headers.albums_all_index"))

.row
  .span11
    = alpha_links

= paginate @albums
= render :partial=>"search_result", :object=>@albums
= paginate @albums

.row
  .span11
    = alpha_links

