= title("Modifier l'album")

- unless @album.errors.empty?
  .validationerror
    Le(s) problème(s) suivant(s) nous empêche d'enregistrer l'album:
    %br/
    = @album.errors.full_messages.join("</br>").html_safe

= form_for @album do |f|
  = render :partial=>'form', :object=>f
  .formActions
    = f.submit
    ou #{link_to t("cancel"), :back}
= render :partial=>'links'
