= title(Album.model_name.human.pluralize)
= render partial: 'common/search'
= button_to t("new"), new_album_path, :method => :get
%p
  = alpha_links().html_safe
  = paginate @albums
  %table
    %thead
      %tr
        %th= Album.human_attribute_name("title")
        %th= Album.human_attribute_name("date_released")
        %th= Album.human_attribute_name("label")
        %th= Album.human_attribute_name("media_type")
        %th= Album.human_attribute_name("reference_code")
    %tbody
      - @albums.each do |album|
        %tr
          %td
            = link_to album.title, album_path(album)
          %td
            - if (album.date_released != "0-00-00") then
              = album.date_released
          %td
            = album.label
          %td
            = album.media_type
          %td
            = album.reference_code
  = paginate @albums
  = button_to t("new"), new_album_path, :method => :get
