.page-header
  = title(Album.model_name.human.pluralize)

.row
  .span1
    = link_to t("new"), new_album_path, :class=>"btn"
  .span11
    = alpha_links().html_safe

= paginate @albums
= render :partial=>"search_result", :object=>@albums
= paginate @albums

.row
  .span1
    = link_to t("new"), new_album_path, :class=>"btn"
  .span11
    = alpha_links().html_safe

