= title("Nouvel Album")

- unless @album.errors.empty?
  .validationerror
    Le(s) problème(s) suivant(s) nous empêche d'enregistrer le nouvel album:
    %br/
    = @album.errors.full_messages.join("</br>").html_safe

= form_for @album do |f|
  = render :partial=>'form', :object=>f
  = f.submit
  ou #{link_to 'annuler', :back}

