= title(@album.title)

.row
  = render partial: 'links'
  .span12
    .section.summary
      - if current_user
        - if @possession
          - link_text = t('addmusic.havemusic')
        - else
          - link_text = t('addmusic.addtomusic')
        %p
          = link_to link_text, "#addmusicform", id: "addmusic", "data-toggle" => "modal", class: "btn", role: "button"
          #addmusicform.modal.hide.fade{tabindex: "-1", role: "dialog", "aria-labelledby" => "myModalLabel"}
            .modal-header
              %h3
                = t('addmusic.addtomusic')
            .modal-body
              %p
                = @album.title
              %p
                %label{'for' => 'labels'}
                  = t('addmusic.labels')
                - if @possession
                  %input#labels.labels_lookup{type: 'text', 'data-pre' => @possession.tokenized_labels}
                - else
                  %input#labels.labels_lookup{type: 'text'}
              %p
                %label{'for' => 'acquisition_date'}
                  = t('addmusic.acquisitiondate')
                - if @possession
                  %input#acquisition_date{ type: 'text', value: @possession.acquisition_date }
                - else
                  %input#acquisition_date{type: 'text'}
              %p
                %label{'for' => 'rating'}
                  = t('addmusic.rating')
                - if @possession
                  %input#rating{type: 'text', value: @possession.rating}
                - else
                  %input#rating{type: 'text'}
              %p
                %label{for: 'comments'}
                  = t('addmusic.comments')
                %textarea#comments
                  - if @possession
                    = @possession.comments
              #addmusic-trans{'style' => 'display:none;'}
                %span#havemusic
                  = t('addmusic.havemusic')
                %span#adderror
                  = t('addmusic.adderror')
                %span#update
                  = t('update')
            .modal-footer
              %a.btn{"data-dismiss" => "modal"}
                = t('cancel')
              - if @possession
                %a#confirmaddmusic.btn.btn-primary{"data-possession-id" => @possession.id}
                  = t('update')
              - else
                %a#confirmaddmusic.btn.btn-primary{"data-album-id" => @album.id}
                  = t('addmusic.addtomusic')
                
      %p
        = Album.human_attribute_name("title")
        \: #{@album.title}
      %p
        = Album.human_attribute_name("date_released")
        \: #{@album.date_released}
      %p
        = Album.human_attribute_name("label")
        \: #{@album.label}
      %p
        = Album.human_attribute_name("media_type")
        \: #{@album.media_type}
      %p
        = Album.human_attribute_name("reference_code")
        \: #{@album.reference_code}

    %h2= Artist.model_name.human.pluralize
    - if @album.artist_wiki_links.count == 0 
      %p This album does not have any artist associated with it.
    - else
      %table.table.table-striped
        %tbody
          %th= Artist.human_attribute_name("name")
          - @album.artist_wiki_links.each do |artist|
            %tr
              %td= artist_wiki_link_path(artist)

    %h2= Recording.model_name.human.pluralize
    - if @album.recording_wiki_links == 0
      %p This album does not have any recording associated with it.
    - else
      %table.table.table-striped
        %thead
          %tr
            %th= Recording.human_attribute_name("title")
            %th= Recording.human_attribute_name("recording_date")
            %th= Recording.human_attribute_name("itemId")
            - if ["33 tours","45 tours"].include?(@album.media_type)
              %th= Recording.human_attribute_name("itemSection")
            %th= Recording.human_attribute_name("trackNb")
            %th= Recording.human_attribute_name("duration")
            %th= Recording.human_attribute_name("artist_wiki_link")
        %tbody
          - @album.recording_wiki_links.sort{|a,b| [a.itemId.to_i, a.itemSection.to_s, a.trackNb.to_i] <=> [b.itemId.to_i, b.itemSection.to_s, b.trackNb.to_i] }.each do |rwl|
            %tr
              %td= recording_wiki_link_path(rwl)
              %td= rwl.recording_date
              - unless ["0","",nil].include?(rwl.itemId) 
                %td= rwl.itemId 
              - else
                %td= "1"

              - if ["33 tours","45 tours"].include?(@album.media_type)
                %td= rwl.itemSection
              %td= rwl.trackNb
              %td= rwl.duration
              %td= rwl.recording.artist_wiki_links.collect{|awl| artist_wiki_link_path(awl) }.join(", ").html_safe 

      - @album.supplementary_sections.each do |ss|
        %h2= ss.title 
        = RedCloth.new(ss.content).to_html.html_safe


