<%= title(@album.title) %>

<div class="section summary">
  <p>Title: <%= @album.title %></p>
  <p>Released Date: <%= @album.date_released %></p>
  <p>Label: <%= @album.label %></p>
  <p>Media Type: <%= @album.media_type %></p>
  <p>Reference code: <%= @album.reference_code %></p>
</div>


<h2>Artists</h2>
<table>
  <tbody>
    <% @album.artist_wiki_links.each do |artist| %>
    <tr>
      <td><%= artist_wiki_link_path(artist) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<h2>Recordings</h2>
<table>
  <tbody>
    <% @album.recording_wiki_links.each do |recording| %>
    <tr>
      <td><%= recording_wiki_link_path(recording) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= render :partial=>'links' %>


