<%= title(@album.title) %>

<div class="section summary">
  <p>Title: <%= @album.title %></p>
  <p>Released Date: <%= @album.date_released %></p>
  <p>Label: <%= @album.label %></p>
  <p>Media Type: <%= @album.media_type %></p>
  <p>Reference code: <%= @album.reference_code %></p>
</div>


<h2><%= Artist.model_name.human.pluralize %></h2>
<table>
  <tbody>
      <th><%= Artist.human_attribute_name("name") %></th>
    <% @album.artist_wiki_links.each do |artist| %>
    <tr>
      <td><%= artist_wiki_link_path(artist) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<h2><%= Recording.model_name.human.pluralize %></h2>
<table>
  <thead>
    <tr>
      <th><%= Recording.human_attribute_name("title") %></th>
      <th><%= Recording.human_attribute_name("recording_date") %></th>
      <th><%= Recording.human_attribute_name("trackNb") %></th>
      <% if ["33 tours","45 tours"].include?(@album.media_type) %>
          <th><%= Recording.human_attribute_name("itemId") %></th>
          <th><%= Recording.human_attribute_name("itemSection") %></th>
      <% end %>
      <th><%= Recording.human_attribute_name("duration") %></th>
    </tr>
  </thead>
  <tbody>
    <% @album.recording_wiki_links.each do |rwl| %>
      <tr>
        <td><%= recording_wiki_link_path(rwl) %></td>
        <td><%= rwl.recording_date %></td>      
        <td><%= rwl.trackNb %></td>
        <% if ["33 tours","45 tours"].include?(@album.media_type) %>
            <td><%= rwl.itemId %></td>      
            <td><%= rwl.itemSection %></td>
        <% end %>
        <td><%= rwl.duration %></td>      
      </tr>
    <% end %>
  </tbody>
</table>

<%= render :partial=>'links' %>


