= title(t('headers.modify_category'))
.row
  = render partial: 'links'
  .span12
    - unless @category.errors.empty?
      .alert.alert-error
        %strong #{t('messages.category_errors_warning')}:
        %br/
        = @category.errors.full_messages.join("</br>").html_safe

    = form_for @category do |f|
      = render partial: 'form', object: f
      .formActions
        = f.submit class: "btn btn-primary"
        #{link_to t("delete"), @category, method: :delete, class: 'btn'} 
        #{t('or')} #{link_to t("cancel"), :back, class: "btn"}

