.page-header
  = title(Category.model_name.human.pluralize)

.row
  .span11
    = alpha_category_links

= paginate @categories
= render :partial=>"search_result", :object=>@categories
= paginate @categories

.row
  .span11
    = alpha_category_links

