= title(t("headers.new_category"))

.tabbable.row
  .span12
    - unless @category.errors.empty?
      .alert.alert-error
        %strong #{t('messages.category_errors_warning')}:
        %br/
        = @category.errors.full_messages.join("</br>").html_safe

    = form_for @category do |f|
      = render partial: 'form', object: f
      .formActions
        = f.submit class: "btn btn-primary"
        #{t('or')} #{link_to t("cancel"), :back, class: "btn"}