= title("Nouvelle Catégorie")

.tabbable.row
  .span12
    - unless @category.errors.empty?
      .alert.alert-error
        %strong Le(s) problème(s) suivant(s) nous empêche d'enregistrer la nouvelle catégorie:
        %br/
        = @category.errors.full_messages.join("</br>").html_safe

    = form_for @category do |f|
      = render :partial=>'form', :object=>f
      .formActions
        = f.submit :class=>"btn btn-primary"
        ou #{link_to t("cancel"), :back, :class=>"btn"}


