= title(@category.category_name)

.row
  = render :partial=>'links'
  .span12
    .section.summary
      %p
        = Category.human_attribute_name("category")
        \: #{@category.category_name}

    %h2= Recording.model_name.human.pluralize


    %table.table.table-striped
      %thead
        %tr
          %th= Recording.human_attribute_name("title")
          %th= Recording.human_attribute_name("recording_date")
          %th= Recording.human_attribute_name("itemId")
          %th= Recording.human_attribute_name("trackNb")
          %th= Recording.human_attribute_name("duration")
          %th= Recording.human_attribute_name("artist_wiki_link")
      %tbody
           

    %p This category does not have any recording associated with it.
      
    %h2= Category.human_attribute_name("info")
    %p=  RedCloth.new(@category.info).to_html.html_safe 


