= title(@user.nickname)
.row
  = render partial: 'links'
  .span12
    - unless @user.errors.empty?
      .alert.alert-error
        %strong #{t('messages.admin_user_errors_warning')}:
        %br/
        = @user.errors.full_messages.join("</br>").html_safe

    = form_for @user, url: admin_user_path do |f|
      %dl
        %dt= f.label :nickname
        %dd= f.text_field :nickname
        %dt= f.label :email
        %dd= f.text_field :email
        %dt= f.label :groups
        %dd= f.text_field :groups_text, 'data-pre' => @user.tokenized_groups, class: 'usergroups_lookup'
      .formActions
        = f.submit class: "btn btn-primary"
        #{link_to t("delete"), admin_user_path(@user), method: :delete, class: 'btn btn-danger'} 
        #{t('or')} #{link_to t("cancel"), :back, class: "btn"}