.page-header
  = title(User.model_name.human.pluralize)

= paginate @users

%table.table.table-striped
  %thead
    %tr
      %th= User.human_attribute_name("nickname")
      %th= User.human_attribute_name("email")
      %th= User.human_attribute_name("groups")
      %th
  %tbody
    - @users.each do |user|
      %tr
        %td
          = link_to user.nickname, admin_user_path(user)
        %td
          = user.email
        %td
          = user.groups.join(", ")
        %td
          = link_to t('modify'), edit_admin_user_path(user), class: "btn btn-primary"
          = link_to t('delete'), admin_user_path(user), method: :delete, class: 'btn btn-danger'

= paginate @users

