.page-header
  = title(t("headers.releases_all_index"))

.row
  .span11
    = alpha_links

= paginate @releases
= render :partial=>"search_result", :object=>@releases
= paginate @releases

.row
  .span11
    = alpha_links

