.page-header  
  = title(t("headers.albums_alphabetic_index", :heading=>alphabetic_album_grouping[params[:letter]]))

.row
  .span11
    = alpha_album_links

= paginate @albums
= render :partial=>"search_result", :object=>@albums
= paginate @albums

.row
  .span11
    = alpha_album_links

