= title(t("headers.modify_release"))
.row
  = render partial: 'links'
  .span12
    - unless @release.errors.empty?
      .alert.alert-error
        %strong #{t('messages.release_errors_warning')}:
        %br/
        = @release.errors.full_messages.join("</br>").html_safe

    = nested_form_for @release do |f|
      = render partial: 'form', object: f
      .formActions
        = f.submit class: "btn btn-primary"
        = link_to t("preview"), preview_release_path(@release), class: "btn btn-default preview"
        #{link_to t("delete"), @release, method: :delete, class: 'btn btn-danger'} 
        #{t('or')} #{link_to t("cancel"), :back, class: "btn"}

