.page-header
  = title(Album.model_name.human.pluralize)

.row
  .span11
    = alpha_album_links

= paginate @releases
= render :partial=>"search_result", :object=>@releases
= paginate @releases

.row
  .span11
    = alpha_album_links

