= title(t("headers.new_release"))

.tabbable.row
  .span12
    - unless @release.errors.empty?
      .alert.alert-error
        %strong #{t('messages.release_errors_warning')}:
        %br/
        = @release.errors.full_messages.join("</br>").html_safe

    = form_for @release do |f|
      = render partial: 'form', object: f
      .formActions
        = f.submit class: "btn btn-primary"
        = link_to t("preview"), preview_releases_path, class: "btn btn-default preview"
        #{t('or')} #{link_to t("cancel"), :back, class: "btn"}