.row      
  .span12
    .page-header
      = title(t("headers.releases_portal"))

.row      
  .span12
    %p
      #{t('portal.release_explanation')}. 

.row
  - if @feature_in_month
    .span6
      %h2= @feature_in_month.title 
      .content
        = RedCloth.new(@feature_in_month.summary(750)).to_html.html_safe
      %p.pull-left 
        #{t('portal.see_release')}:
        = release_wiki_link_path(@feature_in_month.featured_wiki_link)
      - if @feature_in_month.more?(750)
        %p.pull-right= link_to t("portal.continue_reading"), @feature_in_month

  .span6
    %h2 #{t('portal.how_to_help')}
    %ul
      %li 
        = link_to t("portal.new_release_text"), new_release_path
      %li 
        #{t('portal.revise_release')}:
        %ul 
          %li 
            - Release.order_by(updated_at: :desc).limit(5).all.each do |release|
              %span.release>= link_to release.to_wiki_link.object_text, release_path(release.id)
              ;&nbsp;
            = link_to "...", recent_changes_releases_path, title: t("portal.recent_changes_release")
          %li= link_to t("portal.recent_changes_release"), recent_changes_releases_path

      %li
        #{t('portal.improve_release')}:
        %ul
          %li= link_to t("portal.without_artist"), without_artist_releases_path
          %li= link_to t("portal.without_recording"), without_recordings_releases_path
          %li= link_to t("portal.without_additional_sec"), without_supplementary_sections_releases_path

.row
  .span12
    %h2 #{t('portal.alphabetical')}
    %ul
      - alphabetic_release_grouping.each do |letter, heading|
        %li 
          %span.letter= heading
          - Release.where(cache_first_letter: letter).order_by(updated_at:1).limit(5).each do |release|
            %span.release>= link_to release.to_wiki_link.object_text, release_path(release.id)
            ;&nbsp;
          = link_to "...", alphabetic_releases_path(letter: letter, page: 1), title: "consulter la liste complète des releases commençant par \"#{letter}\""
      %li= link_to "tous les releases", releases_path(page: 1)

.row
  .span12
    %h2.soon-available #{t('portal.by_tag')}