.page-header
  = title(t("headers.releases_search"))

.row
  .span12
    %form{action: releases_path}
      %input.search-query.span6{name: "q", :type => "text", value: params[:q] ? params[:q] : "", placeholder: t("search")}/
      %input{type: "submit", value: t("search")}

.row
  .span12
    %p #{t('rsearch.search_release_keywords')}:
    %dl
      %dt title:
      %dd 
        #{t('rsearch.limit_release_title')}:
        %ul
          %li title:Thriller
          %li title:"Barbara chante Brassens et Brel"  

      %dt date_released:
      %dd 
        #{t('rsearch.limit_release_date_released')}:
        %ul
          %li date_released:2010-03-24
          %li date_released:1980
          %li date_released:1984-12

      %dt label:
      %dd 
        #{t('rsearch.limit_release_label')}:
        %ul
          %li label:Epix
          %li label:"Les productions Guy Cloutier"  

      %dt media_type:
      %dd 
        #{t('rsearch.limit_release_media_type')}:
        %ul
          %li media_type:CD
          %li media_type:"33 tours"