%dl
  %dt= form.label :name, t('report.name')
  %dd= form.text_field :name
  %dt= form.label :email, t('report.email')
  %dd= form.text_field :email
  %dt= form.label :phone, t('report.phone')
  %dd= form.text_field :phone
  %dt= form.label :details, t('report.details')
  %dd= form.text_area :details
  = form.submit t('report.submit')