.row
  .span12
    %br
    - t(:report_explanations).each do |line| 
      %p= line
    %dl
      %dt= form.label :name, t('report.name')
      %dd= form.text_field :name, class: "span6"
      %dt= form.label :email, t('report.email')
      %dd= form.text_field :email, class: "span6"
      %dt= form.label :details, t('report.details')
      %dd= form.text_area :details, class: "span6"
      = form.submit t('report.submit')

