%p.pull-right{style:"margin-right: 1em; margin-top:0"}
  = link_to t('tag'), "#addtagform", id: "addtag", "data-toggle" => "modal", class: "btn", role: "button"
  #addtagform.modal.hide.fade{tabindex: "-1", role: "dialog", "aria-labelledby" => "myModalLabel"}
    .modal-header
      %h3
        = t('tag')
    .modal-body
      %p
        = title
      %p
        %label{for: 'name'}
          = UserTag.human_attribute_name("name")
        %input#name.user_tag_lookup{type: 'text', value:resource.user_tags_text[current_user], 'data-pre' => resource.tokenized_user_tags(current_user)}
    .modal-footer
      %a.btn{"data-dismiss" => "modal"}
        = t('cancel')
      %a#confirmaddtag.btn.btn-primary
        = t('new')

    
  
