= form_for([@taggable, @user_tag]) do |f|
  - if @user_tag.errors.any?
    #error_explanation
      %h2
        = t('messages.error')
      %ul
        - @user_tag.errors.full_messages.each do |msg|
          %li
            = msg
  %p
    = f.label :taggable, UserTag.human_attribute_name("taggable")
    = f.label :taggable, @user_tag.taggable.title
  %p
    = f.label :name, UserTag.human_attribute_name("name")
    = f.text_field :name
  .actions
    = f.submit submit_text
