%h1
  = t('headers.user_tag_index')

.row
  .span4

    %p 
      = link_to t('headers.new_user_tag'), [:new, @taggable, :user_tag], class: "btn"

  .span8
    %h2= t('headers.user_tag_index')
    = @user_tags.all.size.inspect
    - if @user_tags.size > 0
      %table.table.table-striped
        %thead
          %tr
            %th
              = t('headers.user_tag_index')
        %tbody
          - @user_tags.each do |tag|
            %tr
              %td
                = tag.name
              %td
                = link_to t('modify'), [:edit, @taggable, tag]
              %td
                = link_to t('delete'), [@taggable, @user_tag], method: :delete, confirm: t('messages.confirm')
