%h1
  = t('headers.user_tag_index')
%p#notice
  = notice
%p
  = "#{UserTag.human_attribute_name("taggable")}"
  = @user_tag.taggable
%p
  = "#{UserTag.human_attribute_name("name")}"
  = @user_tag.name

= link_to t('modify'), edit_user_tag_path(@user_tag) 
|
= link_to t('back'), user_tags_path
