!!!
%html
  %head
    %title
      = content_for(:title).blank? ? "KiungoWiki" : content_for(:title) +  " - KiungoWiki"

    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1.0"}

    = stylesheet_link_tag :all

    = javascript_include_tag "bootstrap"
    = javascript_include_tag "jquery"
    = javascript_include_tag "jquery_ujs"
    = javascript_include_tag "jquery.tokeninput"
    = javascript_include_tag "application"

    :plain    
      <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
      <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

    = csrf_meta_tag

    = render :partial=>"common/google_analytics"

  %body{"data-spy"=>"scroll", "data-target"=>".subnav", "data-offset"=>50}

    #header.navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-toggle"=>"collapse","data-target"=>".nav-collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

          = link_to root_url, :class=>"brand" do
            #sitetitle KiungoWiki

          .nav-collapse
            %ul.nav.entities
              %li= link_to "Accueil", root_url
              %li= link_to "Artistes", artists_path
              %li= link_to "Oeuvres", works_path
              %li= link_to "Enregistrements", recordings_path
              %li= link_to "Albums", albums_path

            %ul.nav.profile.pull-right
              %li= link_to "Mon profil", edit_user_registration_path
              - if current_user
                %li= link_to "Se déconnecter", destroy_user_session_path, :method=>"delete"
              - else
                %li= link_to "Créer un compte ou se connecter", new_user_session_path

    #content  
      .container
        = render partial: "common/site_messages"  
        .inner.row      
          .span12
            = yield


    %footer#footer.footer
      .container
        .row
          .navbar
            .navbar-inner
              %ul.nav
                %li= link_to "Accueil", root_url
                %li= link_to "Changements récents", "#"
                %li= link_to "Conditions d'utilisation", "#"
                %li= link_to "Nous contacter", "#"
                %li= link_to "À propos de KiungoWiki", "#"
                %li= link_to "Plan du site", "#"
          %p#copyright.span12 © 2012 - KiungoWiki
   


