!!!
%html
  %head
    %title
      = content_for(:title).blank? ? "KiungoWiki" : content_for(:title) +  " - KiungoWiki"

    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1.0"}

    = stylesheet_link_tag "application"

    = javascript_include_tag "application"

    :plain    
      <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
      <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

    = csrf_meta_tag

    = render :partial=>"common/google_analytics"

  %body{"data-spy"=>"scroll", "data-target"=>".subnav", "data-offset"=>50}

    #header.navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-toggle"=>"collapse","data-target"=>".nav-collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

          = link_to root_url, :class=>"brand" do
            #sitetitle KiungoWiki

          .nav-collapse
            %ul.nav.entities
              %li= link_to t("headers.home_index"), root_path
              %li= link_to t("headers.artists_index"), portal_artists_path
              %li= link_to t("headers.works_index"), portal_works_path
              %li= link_to t("headers.recordings_index"), portal_recordings_path
              %li= link_to t("headers.albums_index"), portal_albums_path


            %ul.nav.profile.pull-right
              %li
                %form.navbar-search{:action=>search_url}
                  %input.search-query.span2{:name => "q", :type => "text", :value => params[:q] ? params[:q] : "", :placeholder=>"Chercher"}/
              %li= link_to t("headers.possessions_index"), possessions_path
              %li= link_to t("headers.my_profile"), edit_user_registration_path
              - if current_user
                %li= link_to t("headers.sign_out"), destroy_user_session_path, :method=>"delete"
              - else
                %li= link_to t("headers.sign_up_sign_in"), new_user_session_path

    #content  
      .container
        = render partial: "common/site_messages"  
        = yield


    %footer#footer.footer
      .container
        .row
          .span12
            .navbar
              %ul.nav
                %li= link_to t("headers.home_index"), root_url
                %li= link_to t("headers.recent_changes"), changes_path
                %li= link_to t("headers.terms_and_conditions"), "#", :class=>"soon-available"
                %li= link_to t("headers.contact_us"), "#", :class=>"soon-available"
                %li= link_to t("headers.about_us"), "#", :class=>"soon-available"
                %li= link_to t("headers.site_plan"), site_plan_path
          %p#copyright.span12 © 2012 - KiungoWiki
   


